*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto';
    color: #182c61;
}

header{
    padding: 10px;
    background-color: #182c61;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-family: 'Bungee';
}

header h1{
    font-weight: normal;
}

header nav li a{
    color: white;
    text-decoration: none;
    font: normal bold 1.3em;

}
header nav li{
    display: inline;
    margin-left: 16px;
}

header .container{
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    display: flex;
    align-items: center;
    max-width: 1280px;
    margin: 20px auto;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.container ul{
    width: 60%;
    display: inline;
}

.container h2{
    text-align: left;
    margin-bottom: 20px;
    font-family: 'bungee';
}

.container img{
    width: 60%;
    margin-right: 20px;
}

.marcas{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.marcas li{
    display: inline;
    margin-right: 15px;
}

.marcas img{
    width: 64px;
}

.social-midia img{
    height: 36px;
    width: auto;
}

.social-midia li{
    display: inline;
    margin-right: 8px;
}

.social-midia ul{
    width: 200px;
}

.social-midia a{
    text-decoration: none;
}

.social-midia h3{
    font-family: 'Bungee';
    font-weight: normal;
}

#contact .container{
    display: block;
}

#contact .container h2{
    font-family: 'Bungee';
    font-weight: normal;
    margin: 20px 0;
}

form input,form textarea,form button{
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea{
    resize: none;
    height: 160px;
    
}

textarea:focus, input:focus{
    outline-color:#182c61;
}

.contact-methods{
    display: flex;
    justify-content: space-between;
}



section h3{
    margin-bottom: 20px;
}

form button{
    background-color: #182c61;
    color: #ffffff;
    font-family: 'bungee';
    border: none;
    cursor: pointer;
}

form button:hover{
    background-color: #29448f;
}

footer{
    background-color: #182c61;
    height: 60px;
    color: white;
    display: flex;
}