*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto';
}

header{
    padding: 10px;
    background-color: #182c61;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-family: 'Bungee';
}


header nav li a{
    color: white;
    text-decoration: none;
    font: normal bold 1.3em;

}
header nav li{
    display: inline;
    margin-left: 16px;
}

header .container{
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    display: flex;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    justify-content: space-around;
}

.container div{
    width: 500px;
}

.container h2{
    text-align: center;
    margin-bottom: 20px;
}

.container img{
    width: 500px;
}

.marcas{
    display: flex;
    justify-content: center;
    align-items: center;
}

.marcas li{
    display: inline;
    margin-left: 15px;
}

.marcas img{
    width: 64px;
}